<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Knowledge Integrator</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('knowledge_update', function(data) {
            alert(data.message);
            location.reload(); // Refresh the page to reflect knowledge changes
        });
    </script>
</head>
<body>
    <h1>What's up, welcome to the Knowledge Integrator!</h1>
    <button onclick="location.href='/integrate_knowledge'">What's up, integrate knowledge</button>
    <button onclick="location.href='/update_knowledge'">What's up, update knowledge</button>
    <button onclick="location.href='/start_knowledge_scheduler'">What's up, start knowledge scheduler</button>
    <pre id="knowledge_data"></pre>
</body>
</html>
