<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Master Orchestrator</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('system_monitor', function(data) {
            document.getElementById('monitor_data').innerHTML = JSON.stringify(data, null, 2);
        });
        socket.on('system_evolved', function(data) {
            alert(data.message);
            location.reload();
        });
        socket.on('system_orchestrated', function(data) {
            alert(data.message);
            location.reload();
        });
        socket.on('step_completed', function(data) {
            alert(data.message);
            document.getElementById('progress_bar').value = data.step;
        });
    </script>
</head>
<body>
    <h1>Master Orchestrator System</h1>
    <button onclick="location.href='/orchestrate'">Orchestrate System</button>
    <button onclick="location.href='/monitor'">Monitor System</button>
    <button onclick="location.href='/learn'">Initiate Learning</button>
    <button onclick="location.href='/automate'">Automate Automation</button>
    <button onclick="location.href='/evolve'">Evolve System</button>
    <button onclick="location.href='/start_orchestrator'">Start Orchestrator</button>
    <button onclick="location.href='/auto_run_orchestration'">Auto Run Orchestration</button>
    <form id="auto_scheme_form" action="/run_auto_scheme" method="post">
        <label for="num_jobs">Number of Jobs:</label>
        <input type="number" id="num_jobs" name="num_jobs" value="50" min="10" max="50">
        <input type="submit" value="Run Auto Scheme">
    </form>
    <progress id="progress_bar" value="0" max="50"></progress>
    <pre id="monitor_data"></pre>
</body>
</html>
