<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Protocol Manager</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('protocol_update', function(data) {
            alert(data.message);
            location.reload(); // Refresh the page to reflect protocol changes
        });
    </script>
</head>
<body>
    <h1>What's up, manage your protocols here</h1>
    <button onclick="location.href='/enforce_protocols'">What's up, enforce those protocols</button>
    <button onclick="location.href='/update_protocols'">What's up, update the protocols</button>
    <button onclick="location.href='/start_protocol_scheduler'">What's up, start the protocol scheduler</button>
    <pre id="protocol_data"></pre>
    <div id="protocol_settings">
        <h2>What's up, set your protocol settings</h2>
        <form action="/set_protocol_settings" method="post">
            <label for="protocol_update_interval">What's up, how often should we update protocols (in hours)?</label>
            <input type="number" id="protocol_update_interval" name="protocol_update_interval" value="24">
            <input type="submit" value="Set">
        </form>
    </div>
</body>
</html>
